*{
    /* margin: 6%;  */
    /* border: 1px solid  lightgreen;   */
}
.navbar-brand{
    width: 50px;
}
.navbar{
    background-color: #e91e63;
}
.navbar-brand{
    width: 10%;
}
.nav-link{
    color:white;
    font-weight: bold;
}
/*  home section */
.bgimg{
    background-image: url(./juice\ bg.jpeg);
    width: 100vw;
    height: 70vh;
    background-size:cover;
    background-position: center;
}

.hpart h1{
    color:darkgreen;
    text-shadow: 1px 2px 3px lightgreen;
}
.hpart .btn{
    font-weight: bold;
}

/* about css*/
.account h1{
    color: #e91e63;
    margin-top: 3%;
}
.acontent p {
    color: green;
    margin-top: 3%;
    line-height: 30px;
}
/* products code */
.card-img-top{
    width: 70%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    color: #e91e63;
}
.card-text{
    color: green;
    font-weight: bold;
}
#basic-addon1{
    background-color: #e91e63;
    color: white;
    border: none;
    font-weight: bold;
}
/* contact */
.form-label{
    color: #e91e63;
    font-weight: bold;
}
.footer{
    background-color: #e91e63;
}
.fhead{
    color: white;

    font-weight: bold;
    text-decoration: underline 4px solid gold ;
}
.fa-brands{
    font-size: 25px;
    color: whitesmoke;
    margin: 1%;
}
.fa-brands:hover{
    color: greenyellow;
    cursor: pointer;
}